.loading.hide {
	display: none;
}

.loading {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.spinner {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 1.5rem solid rgba(0, 0, 0, 0.5);
  border-top: 1.5rem solid #007bff;
  animation: 0.5s spinner ease-in-out infinite;
}

@keyframes spinner {
  from {
    transform: none;
  }
  to {
    transform: rotate(1turn);
  }
}


