/* TODO: */

body {
  margin: 0;
  background-color: #f1f1f1;
}

div#main {
  padding: 15px 15px 2500px; /* 일부로 스크롤 발생시키기 위해 */
  font-size: 30px;
}

#navbar {
  background-color: #333;
  position: fixed;
  width: 100%;
  display: block;
  top: -55px; /* 처음에는 화면 위 바깥에서 보이지 않게 하기  */
  transition: top 0.3s;
}

#navbar a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 17px;
  display: block;
  float: left;
  padding: 15px;
  text-align: center;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}
