@charset "UTF-8";

/* TODO: */
* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none; /* 일단 처음에는 보이지 않게 하기 */
}

.mySlides img {
  width: 100%;
  vertical-align: middle;
}

.prev,
.next {
  /* border: 1px solid red; */ /* 확인용 */
  position: absolute;
  top: 50%; /* 세로 중앙 위치 */
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* caption */
.text {
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: #f2f2f2;
  padding: 8px;
}

.numbertext {
  position: absolute;
  top: 0;
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px;
}

/* dots / bullets / indicators */
.dot {
  display: inline-block; /* height가 먹힌다 */
  height: 15px;
  width: 15px;
  /* border: 1px solid red; */ /* 확인용 */
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 2px;
  cursor: pointer;
  transition: background-color 0.6s;
}

.dot:hover,
.active {
  background-color: #717171;
}

.dot-container {
  text-align: center;
}

@media screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
