@charset "UTF-8";

#viewcnt_board{
	float: left;
    margin: 0 5px 5px 0;
    width: 100%;
    border: 1px solid #e3e3e3;
    overflow: hidden;
    
}

@media (min-width:768px){
	#viewcnt_board{
		width:49%;
	}
}