<div th:if="${result == null}" xmlns:th="http://www.thymeleaf.org">
    <script>
        alert("해당 정보가 삭제되거나 없습니다");
        history.back();
    </script>
</div>
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'글수정' +  ${result[0].subject }"></title>
</head>
<script>
    function chkSubmit(){
        frm = document.forms['frm'];
        var subject = frm['subject'].value.trim();

        if(subject == ""){
            alert("제목은 반드시 작성해야 합니다");
            frm["subject"].focus();
            return false;
        }

        return true;
    }
</script>
<body>
<h2>수정</h2>
<form name="frm" action="updateOk" method="post" onsubmit="return chkSubmit()">
    <input type="hidden" name="uid" th:value="${result[0].uid}">
    작성자: <span th:text="${result[0].name}"></span> <br>
    제목: <input type="text" name="subject" th:value="${result[0].subject}"><br>
    내용:<br>
    <textarea name="content" th:text="${result[0].content}"></textarea>
    <br><br>
    <input type="submit" value="수정"/>
</form>
<button onclick="history.back()">이전으로</button>
<button onclick="location.href='list'">목록보기</button>
<br>
</body>
</html>