@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.column img {
  width: 100%;
  height: auto;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  /* content 에 관계 없이
  flex item 들을 동일한 length 로 맞춘다. */
  display: flex;

  /* flex item 들을 wrap */
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: flex-start;
}

.column {
  padding: 0 4px;
  /* flex: 25%; */
  max-width: 25%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

@media screen and (max-width: 800px) {
  .column {
    /* flex: 50%; */
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    /* flex: 100%; */
    max-width: 100%;
  }
}
