@charset "UTF-8";

:root {
	/* Color */ -
	-white-color: #fff; -
	-black-color: #140a00; -
	-blue-color: #045fd4; -
	-red-color: #ff0000; -
	-grey-dark-color: #909090; -
	-grey-light-color: #e0e0e0;
	/* Size */ -
	-padding: 12px; -
	-avatar-size: 36px;
	/* Font Size */ -
	-font-large: 18px; -
	-font-medium: 14px; -
	-font-small: 12px; -
	-font-micro: 10px;
}

body {
	background-color: powderblue;
}

h1 {
	color: blue;
}

p {
	color: red;
}

#test {
	color: var(-blue-color);
	font-size: var(-font-large);
}