@charset "UTF-8";


.container {
	margin-top: 150px;
}

.id_area {
	padding:10px;
	
}


.id_area input:focus {outline: 0.5px solid green;}


.login_id {
	width:40%;
}

	

.spans {
	padding : 10px;
}	

span .finds{
	text-decoration: none;
	color: gray;
	font-size: 12px;
	font-weight: bold;
	
}

span .finds:hover {
	color : tomato;
}
